html { 
	height: 100%; 
	overflow:auto; 
}
body {
	height: 100%;
	background-color: #222;
	font-family: 'Noto Serif SC', serif !important;
}
.btn {
	text-align: left;
	margin: 5px !important;
}
.btn-default {
	background-color: #333;
}
.btn-primary {
	background-color: #333;
}
.fixed {
	position:fixed;
	margin: auto;
	z-index:100;
}
.header {
	top:0;
	padding: 3px;
	background-color: #222;
	width: 100%;
	max-width: 100%;
}
.footer {
	bottom: 0;
	padding: 10px;
}

.pagination > ul {
	background: #222;
}
.pagination > ul > li > a {
	background: #333;
	border-color: #111;
}
.pagination > ul > li.active > a {
	background: #1abc9c;
	border-color: #1abc9c;
}

.pagination-minimal > ul > li.previous > a,
.pagination-minimal > ul > li.previous > span, .pagination-minimal > ul > li.next > a,
.pagination-minimal > ul > li.next > span {
	border: 0px solid #222 !important;
}

.pagination-minimal > ul > li.previous > a, .pagination-minimal > ul > li.previous > a:hover, .pagination-minimal > ul > li.previous > a:focus,
.pagination-minimal > ul > li.previous > span,
.pagination-minimal > ul > li.previous > span:hover,
.pagination-minimal > ul > li.previous > span:focus, .pagination-minimal > ul > li.next > a, .pagination-minimal > ul > li.next > a:hover, .pagination-minimal > ul > li.next > a:focus,
.pagination-minimal > ul > li.next > span,
.pagination-minimal > ul > li.next > span:hover,
.pagination-minimal > ul > li.next > span:focus {
	border-color: #222 !important;
}

.pagination-minimal > ul > li.next > a,
.pagination-minimal > ul > li.next > span {
	border-left: 2px solid #666;
}

.pagination-minimal > ul > li.active > a,
.pagination-minimal > ul > li.active > span {
	color: #222;
}

.pagination-minimal > ul > li.active > a:hover, .pagination-minimal > ul > li.active > a:focus,
.pagination-minimal > ul > li.active > span:hover,
.pagination-minimal > ul > li.active > span:focus {
	color: #eee;
}

.pagination-minimal > ul > li.active.previous, .pagination-minimal > ul > li.active.next {
	border-color: #ddd;
}

.pagination-minimal > ul > li > a,
.pagination-minimal > ul > li > span {
	padding: 5px !important;
	border: 2px solid #222 !important;
}

.pagination-minimal > ul > li > a:hover, .pagination-minimal > ul > li > a:focus,
.pagination-minimal > ul > li > span:hover,
.pagination-minimal > ul > li > span:focus {
	background-color: #1abc9c;
	border-color: #1abc9c;
	color: white;
	transition: background .2s ease-out, border-color .2s ease-out, color .2s ease-out;
}

.pagination-minimal > ul > li > a:active,
.pagination-minimal > ul > li > span:active {
	background-color: #16a085;
	border-color: #16a085;
}

ul {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.form-control {
	border-color: #333;
	color: #ccc;
}

::selection{
	background-color: #666;
}

::-moz-selection{
	background-color: #666;
}

.msg-content {
	font-weight: 500 !important;
	word-break: break-all !important; max-width: 90% !important; display: inline-block; white-space:normal; line-height: 1.5;
}

.msg-sender {
	font-weight: 700 !important;
	font-weight: bold; font-size: larger;
}

.msg-time {
	font-weight: 500 !important;
	margin-left: 10px; color: #ddd; font-size: smaller;
}
hr.separator {
	border-top: 1px solid #333; margin: auto; width: 30%;
}
p.section-title {
	color: #555; text-align: center;
}
div.main-msg {
	width: 100%; padding-top: 0px; padding-bottom: 0px; display:table; height:inherit;
}
div.main-profile {
	width: 70px; min-height: 100%; height: 100%; margin: 0px; padding: 0px !important; float: left;
}
img.main-profile {
	border-radius: 10%; width: 50px; height: 50px; margin-top: 10px; margin-bottom: 10px; padding: 0px !important; vertical-align: top;
}
div.main-right {
	width: calc(100%-70px); margin-top: 10px; margin-bottom: 10px; padding: 0px; display: inline-block; min-width: 100%;
}
div.main-top {
	margin-left: 0px !important; margin-top: 0px; margin-bottom: 3px;
}
p.notebook-btns {
	text-align: right; margin: 0px;
}
button.notebook-btn {
	background-color: #333; font-size: 12px; border-color: #222; text-align: center;
}
input.input-page {
	margin: 7px; background-color: #222; color: #eee; display: inline-block; font-size: smaller; width: 80px !important; height: 30px; margin-right: 0px;
}
label.label-page {
	margin: 3px; color: #eee; display: inline-block !important; font-size: 14px; margin-left: 5px; margin-right: 5px;
}
button.btn-submit-cmd {
	font-size: 10px; margin-left: 0px !important; height: 30px; background-color: #222; color: #eee; border-color: #222; padding: 5px;
}
input.input-date {
	margin: 7px; background-color: #222; color: #eee; display: inline-block; width: 80px !important; height: 30px; margin-right: 0px; min-width: 150px;
}
button.btn-submit-date {
	font-size: 10px; margin-left: 0px !important; height: 30px; background-color: #222; color: #eee; border-color: #222; padding: 5px;
}
a.prev-section {
	padding: 3px !important; border-radius: 50%; margin-left: 5px !important;
}
a.next-section {
	padding: 3px !important; border-radius: 50%;
}
form.form-filter {
	margin-left: 8px; margin-right: 8px; margin-bottom: 6px;
}
label.start-date {
	margin: 3px; color: #eee; margin-left: 15px;
}
input.input-dark-sm {
	margin: 3px; background-color: #222; color: #eee;
}
label.label-small {
	margin: 3px; margin-left: 15px; color: #eee;
}
button.btn-submit {
	font-size: 14px; margin-left: 10px !important; height: 30px; background-color: #222 !important; color: #eee; border-color: #222; padding: 5px;
}
input:focus {
	color: #eee !important;
	background-color: #222 !important;
}