<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WeChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/flat-ui.css" rel="stylesheet">
    <link href="/static/css/fonts.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="../../dist/js/vendor/html5shiv.js"></script>
      <script src="../../dist/js/vendor/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>

	<!---------------------------------------------------------------------------------->
    <script>
	var secId = "{{status.startSessId}}";
	var atBottom = false;
	var insertMode = false;

	// --------------------------------------------------------------------------------
	$(document).ready(function() {

		inNotebook = function() {
			return window.location.href.includes('/notebook') || window.location.href.includes('/favorite')
		}

		prevSec = function() {
			if (secId === "{{status.startSessId}}") {return false;}
			if (atBottom) {
				atBottom = false;
			} else {
				secId = "sec" + (parseInt(secId.replace("sec", "")) - 1);
			}
			
			$('html, body').animate({
				scrollTop: $("#" + secId).offset().top + 1
			}, 200);
			return true;
		}

		nextSec = function() {
			if (secId === "{{status.endSessId}}") {
				$("html, body").animate({ scrollTop: $(document).height() }, 200);
				atBottom = true;
				return true;
			}
			secId = "sec" + (parseInt(secId.replace("sec", "")) + 1);
			$('html, body').animate({
				scrollTop: $("#" + secId).offset().top + 1
			}, 200);
			return true;
		}

		findSec = function() {
			var Wscroll = $(this).scrollTop();
			$('section[id^="sec"]').each(function() {
				var ThisOffset = $(this).closest('section').offset();
				if(Wscroll >= ThisOffset.top){
					secId = $(this).closest('section').attr('id');
				}
			});
		}

		gotoPage = function(page) {
			if (inNotebook()) {
				window.location.replace("/notebook?page=" + page);
			} else {
				window.location.replace("/?page=" + page);
			}
		}

		prevPage = function() {
			page = Math.max(1, parseInt("{{status.curPage - 1}}"));
			gotoPage(page);
		}

		nextPage = function() {
			page = Math.min(parseInt("{{status.maxPage}}"), parseInt("{{status.curPage + 1}}"));
			gotoPage(page);
		}

		scrollDown = function() {
			var Wscroll = $(this).scrollTop();
			$('html, body').animate({
				scrollTop: Wscroll + 200
			}, 200);
		}

		scrollUp = function() {
			var Wscroll = $(this).scrollTop();
			$('html, body').animate({
				scrollTop: Wscroll - 200
			}, 200);
		}

		hideControl = function() {
			$("#control-panel").hide();
		}

		showControl = function() {
			$("#control-panel").show();
		}

		gotoMsg = function(msgIdx) {
			window.location.replace('/msg/' + msgIdx);
		}

		addToNotebook = function(sessId) {
			alert("确认添加: " + sessId + "?");
			//   if (inNotebook())  {
			//     $.getJSON("/favorite?from=notebook&op=add&sec=" + sessId,
			//       function(data) {
			//       //do nothing
			//     });
			//   } else {
			//     $.getJSON("/favorite?from=main&op=add&sec=" + sessId,
			//       function(data) {
			//       //do nothing
			//     });
			//   }
			$.ajax({
				type: "POST",
				url: "/notebook",
				data: {"sec": sessId, "op": "add"},
				success: (data) => {
					console.log("addToNotebook:"); 
					console.log(data); 
					window.location.href = "/notebook";
				},
				dataType: "json"
			});
			return false;
		}

		delFromNotebook = function(sessId) {
			alert("确认删除: " + sessId + "?"); 
			if (inNotebook()) {
				console.log('in notebook');
				window.location.replace("/favorite?from=notebook&op=del&sec=" + sessId);
			} else {
				$.getJSON("/favorite?from=main&op=del&sec=" + sessId,
				function(data) {
					//do nothing
				});
				return false;
			}
		}

		keyDown = function(e) {
			console.log(e.which);
			if (!insertMode && !e.ctrlKey) {
				switch(e.which) {
					/*f*/case 70: nextSec(); break;
					/*b*/case 66: prevSec(); break;
					/*j*/case 74: scrollDown(); break;
					/*k*/case 75: scrollUp(); break;
					/*h*/case 72: prevPage(); break;
					/*l*/case 76: nextPage(); break;
					/*slash*/case 191: showControl(); $("#search").focus(); break;
					/*colon*/case 186: case 59: showControl(); if (e.shiftKey) $("#date").focus(); break;
					/*esc*/case 27: hideControl(); break;
					/*left/backspace*/case 37: case 8: history.back(); break;
					/*rightarrow*/case 39: window.history.forward(); break;
					/*n*/case 78: window.location.replace('/notebook'); break;
					/*a*/case 65: addToNotebook(secId); break;
					/*d*/case 68: delFromNotebook(secId); break;
					/*0*/case 48: window.location.replace('/'); break;
					default: return; 
				}
				e.preventDefault();
			} else {
				switch(e.which) {
					/*esc*/case 27: $("input").blur(); break;
				}
			}
		}

		// --------------------------------------------------------------------------------
		$("input").focus(function() {insertMode = true; $(this).select();});
		$("input").focusout(function() {insertMode = false; });

		$("#prev-section").click(prevSec);

		$("#next-section").click(nextSec);  

		$(window).on('scroll', findSec);

		$(document).keydown(keyDown);

		if ("{{scroll}}" != 'None') $("#{{scroll}}")[0].scrollIntoView();
		if(performance.navigation.type == 2) location.reload(true);

	});
	</script>
	<!---------------------------------------------------------------------------------->	
  </head>

  <body>
    <!---------------------------------------------------------------------------------->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
		  {% for sess in sess_list %}
		  
		  <!-- message -->
          <section id="{{sess.id}}">
          <hr class="separator">
          <p class="section-title">{{sess.number}}</p>
          <p>
            {% for msg in sess.msg_list %}
			  <div id="msg{{msg.idx}}" ondblclick="gotoMsg({{msg.idx}});" class="btn btn-primary main-msg">
				<!-- profile -->
                <div class="main-profile">
                    <img src="static/img/{{msg.profile}}" class="main-profile">
                </div>
                <div class="main-right">
                  <div class="main-top">
					<!-- sender -->
                    <span class="msg-sender">{{ msg.senderName }}</span>
					<!-- time -->
                    <span class="msg-time">{{ msg.time }}</span>
                  </div>
                  <div class="msg-content">{% autoescape false %}{{  msg.content | replace('\n','<br>') }}{% endautoescape %}</div>
                </div>
              </div>
            {% endfor %}
          </p>
		  </section>
		  
		  <!-- add/del -->
          <p class="notebook-btns">
            <button onclick="addToNotebook('{{sess.id}}');" class="btn btn-primary notebook-btn fui-plus"></button>
            <button onclick="delFromNotebook('{{sess.id}}');" class="btn btn-danger notebook-btn fui-trash"></button>
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
	<!---------------------------------------------------------------------------------->


    <!-- control panel -->
    <div id="control-panel" class="container" {% if args.hide_control == true %} style="display: none !important;" {% endif %}>
      <div class="pagination pagination-minimal fixed footer container" style="text-align: center;">
        <ul>

          <!-- pagination -->
            <!-- prevPage -->
            {% if status.curPage == 1 %}
            <li class="previous"><a href="#" class="fui-arrow-left"></a></li>
            {% else %}
            <li class="previous"><a href="/?page={{status.curPage - 1}}" class="fui-arrow-left"></a></li>
            {% endif %}

            <!-- pages -->
            {% for page in status.pages %}
              {% if page == status.curPage %}
              <li class="active"><a href="/?page={{page}}">{{ page }}</a></li>
              {% else %}
              <li><a href="/?page={{page}}">{{ page }}</a></li>
              {% endif %}
            {% endfor %}

            <!-- goto page -->
            <form action="/" method="GET" class="form-inline" role="form" style="display: inline-block;">
              <input id="page" name="page" placeholder="page" value="{{status.curPage}}" class="form-control input-sm input-page" >
              <label for="page" class="control-label label-page"> / {{status.maxPage}}</label>
              <button type="submit" class="btn btn-primary fui-cmd btn-submit-cmd"></button>
            </form>

            <!-- goto date -->
            <form action="/date" method="GET" class="form-inline" role="form" style="display: inline-block;">
              <input id="date" name="date" placeholder="YYYY-MM-DD" class="form-control input-sm input-date">
              <button type="submit" class="btn btn-primary btn-submit-date fui-cmd"></button>
            </form>

            <!-- prevSec -->
            <li class="next"><a id="prev-section" class="prev-section fui-triangle-up"></a></li>
            <!-- nextSec -->
            <li class="next"><a id="next-section" class="next-section fui-triangle-down"></a></li>
            
            <!-- nextPage -->
            {% if status.curPage == status.maxPage %}
            <li class="next"><a href="#" class="fui-arrow-right"></a></li>
            {% else %}
            <li class="next"><a href="/?page={{status.curPage + 1}}" class="fui-arrow-right"></a></li>
            {% endif %}
          <!-- pagination -->
          
          <!-- search -->
          <form method="GET" name="filter" action="/" class="form-inline form-filter" role="form">
            <!-- from date -->
            <div class="form-group">
              <label for="startDate" class="control-label start-date">From:</label>
              <input id="startDate" name="startDate" class="form-control input-sm input-dark-sm" placeholder="YYYY-MM-DD" value="{{ params.startDateStr }}">
            </div>
            <!-- to date -->
            <div class="form-group">
              <label for="endDate" class="control-label label-small">To:</label>
              <input id="endDate" name="endDate" class="form-control input-sm input-dark-sm" placeholder="YYYY-MM-DD" value="{{ params.endDateStr }}">
            </div>
            <!-- search regex -->
            <div class="form-group">
              <label for="search" class="control-label label-small">Search:</label>
              <input id="search" name="search" class="form-control input-sm input-dark-sm" placeholder="Key word" value="{{ params.search }}">
            </div>
            <!-- submit button -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-submit fui-search"></button>
            </div>
          </form>
          <!-- search -->

        </ul>
      </div>
    </div>
    <!-- control panel -->
  </body>
</html>
