<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WeChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/flat-ui.css" rel="stylesheet">
    <link href="/static/css/fonts.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="../../dist/js/vendor/html5shiv.js"></script>
      <script src="../../dist/js/vendor/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>

    <!---------------------------------------------------------------------------------->
    <style>
    {% if args.font == "serif" %}
      body { font-family: 'Noto Serif SC', serif !important; }
      .msg-sender { font-weight: 700 !important; }
      .msg-content { font-weight: {{ args.fontWeight }} !important; }
      .msg-time { font-weight: 500 !important; }
    {% else %}
      body { font-family: sans-serif !important; }
      .msg-sender { font-weight: 500 !important; }
      .msg-content { font-weight: {{ args.fontWeight }} !important; }
      .msg-time { font-weight: 400 !important; }
    {% endif %}
    </style>
    <link href="/static/css/customize.css" rel="stylesheet">

    <script>
    var secId = "{{ VIEW.startSec }}";
    var atBottom = false;
    var insertMode = false;
    var scrolling = false;

    // --------------------------------------------------------------------------------
    $(document).ready(function() {

        prevSec = function() {
            if (scrolling) return;
            if (secId === "{{ VIEW.startSec }}") {return false;}
            if (atBottom) {
                atBottom = false;
            } else {
                secId = "sec" + (parseInt(secId.replace("sec", "")) - 1);
            }
            
            scrolling = true;
            $('html, body').animate({
                scrollTop: $("#" + secId).offset().top + 1
            }, 200, function() {
                scrolling = false;
            });
            return true;
        }

        nextSec = function() {
            if (scrolling) return;
            if (secId === "{{ VIEW.endSec }}") {
                $("html, body").animate({ scrollTop: $(document).height() }, 200);
                atBottom = true;
                return true;
            }
            secId = "sec" + (parseInt(secId.replace("sec", "")) + 1);

            scrolling = true;
            $('html, body').animate({
                scrollTop: $("#" + secId).offset().top + 1
            }, 200, function() {
                scrolling = false;
            });
            return true;
        }

        findSec = function() {
            var Wscroll = $(this).scrollTop();
            $('section[id^="sec"]').each(function() {
                var ThisOffset = $(this).closest('section').offset();
                if(Wscroll >= ThisOffset.top){
                    secId = $(this).closest('section').attr('id');
                }
            });
        }

        scrollDown = function() {
            if (scrolling) return;
            var Wscroll = $(this).scrollTop();

            scrolling = true;
            $('html, body').animate({
                scrollTop: Wscroll + 200
            }, 200, function() {
                scrolling = false;
            });
        }

        scrollUp = function() {
            if (scrolling) return;
            var Wscroll = $(this).scrollTop();

            scrolling = true;
            $('html, body').animate({
                scrollTop: Wscroll - 200
            }, 200, function() {
                scrolling = false;
            });
        }

        hideControl = function() {
            $("#control-panel").hide();
        }

        showControl = function() {
            $("#control-panel").show();
        }

        /*--------------------------------------------------------------------------------*/
        gotoPage = function(page) {
            window.location.replace("{{ VIEW.baseUrl }}?page=" + page);
        }

        prevPage = function() {
            page = Math.max(1, {{ VIEW.curPage - 1 }});
            gotoPage(page);
        }

        nextPage = function() {
            page = Math.min({{ VIEW.maxPage }}, {{ VIEW.curPage + 1 }});
            gotoPage(page);
        }

        gotoMsg = function(msgIdx) {
            window.location.replace('{{ VIEW.baseUrl }}?msgIdx=' + msgIdx);
        }

        addToNotebook = function(targetSecId) {
            if (!confirm("确认添加: " + targetSecId + "?")) return false;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{{ VIEW.baseUrl }}",
                data: {"secId": targetSecId, "operation": "add"},
                success: (data) => { 
                    console.log("addToNotebook: " + targetSecId); 
                },
            });
            return false;
        }

        delFromNotebook = function(targetSecId) {
            if (!confirm("确认删除: " + targetSecId + "?")) return false;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{{ VIEW.baseUrl }}",
                data: {"secId": targetSecId, "operation": "del"},
                success: (data) => { 
                    console.log("delFromNotebook: " + targetSecId); 
                    if ("{{ VIEW.baseUrl }}" === "{{ URL_NOTEBOOK }}") {
                        location.reload(true);
                    }
                },
            });
            return false;
        }

        /*--------------------------------------------------------------------------------*/
        keyDown = function(e) {
            console.log(e.which);
            if (!insertMode && !e.ctrlKey) {
                switch(e.which) {
                    /*----- JS + PY --------*/
                    /*h*/case 72: prevPage(); break;
                    /*l*/case 76: nextPage(); break;
                    /*a*/case 65: addToNotebook(secId); break;
                    /*d*/case 68: delFromNotebook(secId); break;
					          /*n*/case 78: window.location.replace("{{ URL_NOTEBOOK }}"); break;
                    /*0*/case 48: window.location.replace("{{ URL_MAIN }}"); break;
                    /*----- JS ONLY --------*/
                    /*f*/case 70: nextSec(); break;
                    /*b*/case 66: prevSec(); break;
                    /*j*/case 74: scrollDown(); break;
                    /*k*/case 75: scrollUp(); break;
                    /*slash*/case 191: showControl(); $("#search").focus(); break;
                    /*colon*/case 186: case 59: showControl(); if (e.shiftKey) $("#date").focus(); break;
                    /*esc*/case 27: hideControl(); break;
                    /*left/backspace*/case 37: case 8: history.back(); break;
                    /*rightarrow*/case 39: window.history.forward(); break;
                    default: return; 
                }
                e.preventDefault();
            } else {
                switch(e.which) {
                    /*esc*/case 27: $("input").blur(); break;
                }
            }
        }

        $(document).keydown(keyDown);
        $(window).on('scroll', findSec);
        $("input").focus(function() {insertMode = true; $(this).select();});
        $("input").focusout(function() {insertMode = false; });

        //scroll to target element
        if ("{{ VIEW.anchor }}" != 'None') {
            $("#{{ VIEW.anchor }}")[0].scrollIntoView();
        }
    });
    </script>
    <!---------------------------------------------------------------------------------->	
  </head>

  <body>
    <!---------------------------------------------------------------------------------->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% for sec in VIEW.secList %}
          
          <!-- message -->
          <section id="{{ sec.id }}">
          <hr class="separator">
          <p class="section-title">{{ sec.idx }}</p>
          <p>
            {% for msg in sec.msgList %}
              <div id="msg{{ msg.idx }}" ondblclick="gotoMsg({{ msg.idx }});" class="btn btn-primary main-msg">
                <!-- profile -->
                <div class="main-profile">
                    <img src="static/img/{{ msg.profile }}" class="main-profile">
                </div>
                <div class="main-right">
                  <div class="main-top">
                    <!-- sender -->
                    <span class="msg-sender">{{ msg.senderName }}</span>
                    <!-- time -->
                    <span class="msg-time">{{ msg.time }}</span>
                  </div>
                  <div class="msg-content">{% for p in msg.content.split('\n') %} {{ p }}<br> {% endfor %}</div>
                </div>
              </div>
            {% endfor %}
          </p>
          </section>
          
          <!-- add/del -->
          <p class="notebook-btns">
            <button onclick="addToNotebook('{{ sec.id }}');" class="btn btn-primary notebook-btn fui-plus"></button>
            <button onclick="delFromNotebook('{{ sec.id }}');" class="btn btn-danger notebook-btn fui-trash"></button>
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
    <!---------------------------------------------------------------------------------->


    <!-- control panel -->
    <div id="control-panel" class="container" {% if args.hideControl == true %} style="display: none !important;" {% endif %}>
      <div class="pagination pagination-minimal fixed footer container" style="text-align: center;">
        <ul>

          <!-- pagination -->
            <!-- prevPage -->
            <li class="previous"><a onclick="prevPage();" class="fui-arrow-left"></a></li>

            <!-- pages -->
            <!-- GET <VIEW.baseUrl>?page=<page> -->
            {% for page in VIEW.pages %}
              {% if page == VIEW.curPage %}
              <li class="active"><a onclick="gotoPage({{ page }})">{{ page }}</a></li>
              {% else %}
              <li><a onclick="gotoPage({{ page }})">{{ page }}</a></li>
              {% endif %}
            {% endfor %}

            <!-- goto page -->
            <!-- GET <VIEW.baseUrl>?page=<page> -->
            <form action="{{ VIEW.baseUrl }}" method="GET" class="form-inline" role="form" style="display: inline-block;">
              <input id="page" name="page" placeholder="page" value="{{ VIEW.curPage }}" class="form-control input-sm input-page" >
              <label for="page" class="control-label label-page"> / {{ VIEW.maxPage }}</label>
              <button type="submit" class="btn btn-primary fui-cmd btn-submit-cmd"></button>
            </form>

            <!-- goto date -->
            <form action="{{ VIEW.baseUrl }}" method="GET" class="form-inline" role="form" style="display: inline-block;">
              <input id="date" name="date" value="{{ VIEW.date }}" placeholder="YYYY-MM-DD" class="form-control input-sm input-date">
              <button type="submit" class="btn btn-primary btn-submit-date fui-cmd"></button>
            </form>

            <!-- prevSec -->
            <li class="next"><a onclick="prevSec();" class="prev-section fui-triangle-up"></a></li>
            <!-- nextSec -->
            <li class="next"><a onclick="nextSec();" class="next-section fui-triangle-down"></a></li>
            
            <!-- nextPage -->
            <li class="next"><a onclick="nextPage();" class="fui-arrow-right"></a></li>
          <!-- pagination -->
          
          <!---------------------------------------------------------------------------------->
          
          <!-- search -->
          <!-- GET <VIEW.baseUrl>?startDate=<startDate>&endDate=<endDate>&search=<search> -->
          <form method="GET" name="filter" action="{{ VIEW.baseUrl }}" class="form-inline form-filter" role="form">
            <!-- from date -->
            <div class="form-group">
              <label for="startDate" class="control-label start-date">From:</label>
              <input id="startDate" name="startDate" class="form-control input-sm input-dark-sm" placeholder="YYYY-MM-DD" value="{{ VIEW.startDateStr }}">
            </div>
            <!-- to date -->
            <div class="form-group">
              <label for="endDate" class="control-label label-small">To:</label>
              <input id="endDate" name="endDate" class="form-control input-sm input-dark-sm" placeholder="YYYY-MM-DD" value="{{ VIEW.endDateStr }}">
            </div>
            <!-- search regex -->
            <div class="form-group">
              <label for="search" class="control-label label-small">Search:</label>
              <input id="search" name="search" class="form-control input-sm input-dark-sm" placeholder="Key word" value="{{ VIEW.search }}">
            </div>
            <!-- submit button -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-submit fui-search"></button>
            </div>
          </form>
          <!-- search -->

        </ul>
      </div>
    </div>
    <!-- control panel -->
  </body>
</html>
